<ion-view title="Agenda Rayen">

    <ion-content class="padding">
   <div  class="row list">
    <img class=".col .col-50" ng-src="img\calendar.png" >   
        <a class=".col .col-50" href="#" data-ng-src="img\calendar.png"></a>
    </div>
    <div class="list">
      <button class=".col redondo center" value="L">L</button>
      <button class=".col redondo" value="M">M</button>
      <button class=".col redondo" value="Mi">Mi</button>
      <button class=".col redondo" value="J">J</button>
      <button class=".col redondo" value="V">V</button>
      <button round>Primary Round</button>
    </div>

    </ion-content>
    <div class="float-button">
 <span class="height-fix">
    <a class="content">
      <i class="ion-ios-arrow-up"> </i>
    </a>
   </span>
</div>
</ion-view>