<ion-view title="Cancelar" id="Cancelar" class=" ">
 <ion-content padding="true" class="has-header" ng-controller="MyCtrl">
   <div class="list">
          <div class="item item-divider">
               Cenro de Salud CESFAM
                Educación Grupal
          </div>

  <a class="item" href="#">
    10:00 - 11:15 Pacientes :23
                  Cupos     :13
  </a>
</div>
<div class="list">
    <button class="button icon-left icon ion-email">E-Mail</button>
    <button class="button icon-left ion-ios-telephone-outline">LLamar</button>
</div>
 <div class="list">
          <div class="item item-divider">
               Cenro de Salud CESFAM
                Educación Grupal
          </div>

  <a class="item" href="#">
    10:00 - 11:15 Pacientes :23
                  Cupos     :13
  </a>
</div>
<div class="list">
    <button class="button icon-left icon ion-email">E-Mail</button>
    <button class="button icon-left ion-ios-telephone-outline">LLamar</button>
</div>
</ion-content>
</ion-view>