<ion-view title="Resumen" id="Resumen" class=" ">
 <ion-content padding="true" class="has-header" ng-controller="MyCtrl">
     <div class="list">
          <div class="item item-divider">
               Martes 19 de Julio 2016
                Educación Grupal
          </div>

  <a class="item" href="#">
    10:00 - 10:15 Paciente 1
  </a>
    <a class="item" href="#">
     10:00 - 10:15 Paciente 2
  </a>
</div>
   <div class="list">
          <div class="item item-divider">
               Martes 19 de Julio 2016
                Educación Grupal
          </div>

  <a class="item" href="#">
    10:00 - 10:15 Paciente 1
  </a>
    <a class="item" href="#">
     10:00 - 10:15 Paciente 2
  </a>
</div>
   <div class="list">
          <div class="item item-divider">
               Martes 19 de Julio 2016
                Educación Grupal
          </div>

  <a class="item" href="#">
    10:00 - 10:15 Paciente 1
  </a>
    <a class="item" href="#">
     10:00 - 10:15 Paciente 2
  </a>
</div>
 </ion-content>
</ion-view>